* {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    /* padding: 0 20px; */
}

.header__contents {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    margin: 3% 0;
}

.header__main-navigation {
    display: flex;
    list-style-type: none;

    margin: 0;
    padding: 0;
}

.header__main-navigation__item {
    padding: 0 25px;
}